
body {
    background: url(img/hong-kong2.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;

}

nav {
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding:0;
}

nav li:first-child {
    margin-right: auto;
}
nav li {
    display: flex;
    height: 50px;
    align-items: end;
}

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(0, 0, 0);
    padding: 0px 20px;
    text-decoration: none;
    transition:300ms;
}

nav a:hover {
    background-color: antiquewhite;
    color: black;

    padding: 0px 50px;

}



.red {
    color: rgb(197, 27, 27);
}

.container {
    display: flex;
    margin-left: 10%;
    padding-left: 1%;
}
.myLine {
    width: 200px;
}

.social-button {
    width: 100px;
    height: 100px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items:end;
    flex: 1;

}
.box {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(187, 198, 198);
    opacity: 75%;
}

.box:hover {
    opacity: 95%;
    transition: 200ms;
}
.linkedin {
    color: rgb(87, 87, 208);
}


/* contact page*/
.contacts {
    display: flex;
    flex-direction: column;

}