
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    background: url(img/hong-kong.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;

}


nav {
    box-shadow: 3px 3px 5px rgba(83, 103, 124, 0.4);
    backdrop-filter: blur(20px);
}


nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding:0;
}

nav li:first-child {
    margin-right: auto;

}

nav li img {
    height: 100px;
    width: auto;
    display: block;
    margin-left:20px;
}

nav li {
    display: flex;
    height: 100px;
    align-items: end;
}

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: larger;
    padding: 0px 20px;
    text-decoration: none;
    transition:300ms;
}

nav a:hover {
    background-color: antiquewhite;
    color: black;

    padding: 0px 50px;
    
}

#profile:hover {
    width: 200px;
    height:200px;
    justify-content: center;
    transition: 200ms;
    margin: 100px;
}

.intro-box {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 1%;
    padding-left: 1%;
}

div.social-button {
    justify-content: flex-end;
}

#linkedin {
    width: 100px;
    height: 100px;
    padding: 10px;
    transition: 500ms;
}

#linkedin:hover {
    padding: 0px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items:end;
    flex: 1;

}
.box {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(187, 198, 198);
    opacity: 75%;
    margin: 20px;
}

.box:hover {
    opacity: 95%;
    transition: 200ms;
}


/* contact page*/
form.contacts {
    display: flex;
    flex-direction: column;
}

div.contacts {

    margin: 10% 10%;
    width: 40%;
    backdrop-filter: blur(5px);
    color: aliceblue;
}